<div>
  <p class="page-title">
    Welcome to the Dashboard
  </p>
</div>
<div><button type="button" (click)="goToHome()">Go Home</button></div>
<div class="page-container">
  <div class="container">
    <div class="menu">
      <ul>
        <li><a [routerLink]="['/dashboard', 'one']">Posts</a></li>
        <li><a [routerLink]="['/dashboard', 'two']">Item Two</a></li>
        <li><a [routerLink]="['/dashboard', 'three']">Item Three</a></li>
      </ul>
    </div>
    <div class="content"><router-outlet></router-outlet></div>
  </div>
</div>
